<a href="https://colab.research.google.com/github/Bena-29/DATA-SCIENCE/blob/main/SUMMER_SCHOOL_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
## mounting the drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Copy of uganda-consumer-price-index-trends-2020-2023.csv')

In [ ]:
df

,indicator_code,description,dec-20,jan-21,feb-21,mar-21,apr-21,may-21,jun-21,jul-21,...,apr-22,may-22,jun-22,jul-22,aug-22,sep-22,oct-22,nov-22,dec-22,jan-23
0,CPI_16,"Consumer Price Index (CPI), (2016/17 = 100): A...",111.443410,111.310466,111.846531,112.172433,112.495189,112.668689,113.144030,113.101427,...,117.978473,119.725401,120.883515,122.037225,123.244477,125.102915,126.131723,126.214545,126.384878,126.192497
1,CPI_CORE_16,"Consumer Price Index (CPI), (2016/17 = 100): C...",112.830685,112.724370,112.984824,113.158857,113.356917,113.772579,114.442365,114.660929,...,118.258472,119.547403,120.748801,121.936425,122.735479,124.207285,125.187566,125.475777,125.772035,125.643626
2,CPI_FOOD_16,"Consumer Price Index (CPI), (2016/17 = 100): F...",95.138362,95.341105,98.020362,100.473972,102.346358,100.440596,98.345921,96.191619,...,107.824174,114.102253,112.559010,112.014632,115.499220,121.951104,126.313055,126.199737,126.620851,126.148443
3,CPI_EFU_16,"Consumer Price Index (CPI), (2016/17 = 100): E...",117.355292,116.390737,117.349342,116.528677,116.197595,116.285665,118.004361,117.679125,...,129.171456,130.207719,134.744883,137.936429,141.076201,141.215255,138.011955,135.738688,133.923900,133.316649
4,CPI_09,"Consumer Price Index (CPI), (2009/10 = 100): A...",186.562318,186.851042,187.494812,188.118304,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,TB_KEN,Trade Balance with Kenya (US$ Million),-23.274682,-3.244805,-12.609910,-2.975093,-21.122741,-19.003994,-24.528597,15.689255,...,-4.128210,-5.383486,-19.164470,-10.500595,-6.394291,-17.073325,-4.174927,15.772012,12.504668,0.000000
154,TB_RWA,Trade Balance with Rwanda (US$ Million),0.052104,-0.074128,0.017410,-0.022587,0.024265,0.117739,0.110361,-0.203926,...,-0.338249,-0.890417,-0.671015,3.406311,3.672114,4.081738,10.640923,19.905129,26.917117,0.000000
155,TB_BDI,Trade Balance with Burundi (US$ Million),-7.934262,3.803195,4.195553,5.556755,4.920446,5.965140,8.168069,5.945998,...,7.372273,10.103675,11.535901,9.793657,7.219167,4.551043,5.726802,6.720835,4.067121,0.000000
156,TB_SSD,Trade Balance with South Sudan (US$ Million),33.230493,33.483743,45.298641,50.092811,43.685531,54.637289,43.141767,44.339104,...,59.213840,57.630784,55.440806,60.953371,74.048565,55.683104,51.700054,52.565411,48.752386,0.000000
157,TB_COD,Trade Balance with Congo (D.R.) (US$ Million),48.097689,46.330002,48.829402,54.148596,48.286600,58.240848,56.440644,58.430953,...,61.765959,55.250122,57.908268,54.488461,49.781643,50.944880,46.367096,47.023936,48.529577,0.000000

In [ ]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

# e1

In [ ]:
# Test that the dataframe is loaded correctly
try:
    assert isinstance(df, pd.DataFrame), "df should be a pandas DataFrame"
    assert df.shape[0] > 0, "DataFrame should not be empty"
    assert 'indicator_code' in df.columns, "DataFrame should have 'indicator_code' column"
    assert 'description' in df.columns, "DataFrame should have 'description' column"
except NameError:
    # Variable doesn't exist during format check - this is expected
    # The assertions will run when the test executes with global environment
    pass

#e2

In [ ]:

# Test that dataframe is reshaped to long format
try:
    assert isinstance(df_long, pd.DataFrame), "df_long should be a pandas DataFrame"
    assert 'date' in df_long.columns, "DataFrame should have 'date' column"
    assert 'value' in df_long.columns, "DataFrame should have 'value' column"
    assert 'indicator_code' in df_long.columns, "DataFrame should have 'indicator_code' column"
    assert 'description' in df_long.columns, "DataFrame should have 'description' column"

except NameError:
    # Variable doesn't exist during format check - this is expected
    # The assertions will run when the test executes with global environment
    pass

#e3

In [ ]:
# Test that date column is converted to datetime
try:
    assert isinstance(df_long, pd.DataFrame), "df_long should be a pandas DataFrame"
    assert 'date' in df_long.columns, "DataFrame should have 'date' column"
    assert pd.api.types.is_datetime64_any_dtype(df_long['date']), "Date column should be datetime type"

except NameError:
    # Variable doesn't exist during format check - this is expected
    # The assertions will run when the test executes with global environment
    pass

#e4

In [ ]:
# Test that CPI dataframes are filtered correctly
try:
    assert isinstance(df_cpi, pd.DataFrame), "df_cpi should be a pandas DataFrame"
    assert isinstance(df_all_items, pd.DataFrame), "df_all_items should be a pandas DataFrame"
    assert isinstance(df_core, pd.DataFrame), "df_core should be a pandas DataFrame"
    assert isinstance(df_food, pd.DataFrame), "df_food should be a pandas DataFrame"
    assert isinstance(df_efu, pd.DataFrame), "df_efu should be a pandas DataFrame"

    # Check that all indicator codes start with CPI_
    if len(df_cpi) > 0:
        assert all(df_cpi['indicator_code'].str.startswith('CPI_')), "All indicator codes should start with 'CPI_'"
except NameError:
    # Variable doesn't exist during format check - this is expected
    # The assertions will run when the test executes with global environment
    pass

#e5

In [ ]:
#Test that missing values are handled
try:
    assert isinstance(df_long, pd.DataFrame), "df_long should be a pandas DataFrame"
    assert 'value' in df_long.columns, "DataFrame should have 'value' column"

    # Check that there are no missing values after replacement
    missing_after = df_long['value'].isna().sum()
    assert missing_after == 0, f"Expected 0 missing values, found {missing_after}"
except NameError:
    # Variable doesn't exist during format check - this is expected
    # The assertions will run when the test executes with global environment
    pass

#m1

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
# Test that dataset is loaded correctly
try:
    assert isinstance(data, dict) or hasattr(data, 'keys'), "data should be a dictionary-like object"
    assert 'd' in data or 'd' in data.keys(), "Dataset should contain 'd' key"
    assert 'l' in data or 'l' in data.keys(), "Dataset should contain 'l' key"

    assert isinstance(d, np.ndarray), "d should be a NumPy array"
    assert isinstance(l, np.ndarray), "l should be a NumPy array"
    assert d.shape == (1000, 2), f"d should have shape (1000, 2), got {d.shape}"
    assert l.shape == (1000, 1) or l.shape == (1000,), f"l should have shape (1000, 1) or (1000,), got {l.shape}"

    # Check labels are 0 or 1
    unique_labels = np.unique(l)
    assert all(label in [0, 1] for label in unique_labels), "Labels should be 0 or 1"
except NameError:
    # Variable doesn't exist during format check - this is expected
    # The assertions will run when the test executes with global environment
    pass

#m2

In [ ]:
# Test that separating line is drawn
try:
    # Basic checks - the line should be defined
    # We can't easily test the visual output, but we can check that
    # the data is properly loaded and structured
    assert isinstance(d, np.ndarray), "d should be a NumPy array"
    assert isinstance(l, np.ndarray), "l should be a NumPy array"
    assert d.shape[0] == l.shape[0] or d.shape[0] == l.flatten().shape[0], "d and l should have same number of samples"

    # Check that we have both classes
    unique_labels = np.unique(l.flatten())
    assert len(unique_labels) == 2, "Should have exactly 2 classes"
    assert 0 in unique_labels and 1 in unique_labels, "Should have classes 0 and 1"
except NameError:
    # Variable doesn't exist during format check - this is expected
    # The assertions will run when the test executes with global environment
    pass

#m3

In [ ]:
# Test that Gaussian distributions are fitted correctly
# Check points are filtered correctly
try:
    assert isinstance(points_class_0, np.ndarray), "points_class_0 should be a NumPy array"
    assert isinstance(points_class_1, np.ndarray), "points_class_1 should be a NumPy array"
    assert points_class_0.shape[1] == 2, "points_class_0 should be 2D (N, 2)"
    assert points_class_1.shape[1] == 2, "points_class_1 should be 2D (N, 2)"

    # Check means
    assert isinstance(mean_class_0, np.ndarray), "mean_class_0 should be a NumPy array"
    assert isinstance(mean_class_1, np.ndarray), "mean_class_1 should be a NumPy array"
    assert mean_class_0.shape == (2,), f"mean_class_0 should have shape (2,), got {mean_class_0.shape}"
    assert mean_class_1.shape == (2,), f"mean_class_1 should have shape (2,), got {mean_class_1.shape}"

    # Check covariance matrices
    assert isinstance(cov_class_0, np.ndarray), "cov_class_0 should be a NumPy array"
    assert isinstance(cov_class_1, np.ndarray), "cov_class_1 should be a NumPy array"
    assert cov_class_0.shape == (2, 2), f"cov_class_0 should have shape (2, 2), got {cov_class_0.shape}"
    assert cov_class_1.shape == (2, 2), f"cov_class_1 should have shape (2, 2), got {cov_class_1.shape}"

    # Check covariance is symmetric
    assert np.allclose(cov_class_0, cov_class_0.T), "cov_class_0 should be symmetric"
    assert np.allclose(cov_class_1, cov_class_1.T), "cov_class_1 should be symmetric"

    # Check covariance is positive semi-definite (determinant >= 0)
    assert np.linalg.det(cov_class_0) >= 0, "cov_class_0 should be positive semi-definite"
    assert np.linalg.det(cov_class_1) >= 0, "cov_class_1 should be positive semi-definite"

except NameError:
    # Variable doesn't exist during format check - this is expected
    # The assertions will run when the test executes with global environment
    pass

#m4

In [ ]:
from scipy.stats import multivariate_normal

In [ ]:
# Test that heatmap is created correctly
# Check Gaussian distributions are created
try:
    assert isinstance(gaussian_class_0, multivariate_normal), "gaussian_class_0 should be a multivariate_normal object"
    assert isinstance(gaussian_class_1, multivariate_normal), "gaussian_class_1 should be a multivariate_normal object"

    # Check PDFs are calculated
    assert isinstance(pdf_class_0, np.ndarray), "pdf_class_0 should be a NumPy array"
    assert isinstance(pdf_class_1, np.ndarray), "pdf_class_1 should be a NumPy array"
    assert pdf_class_0.shape == pdf_class_1.shape, "pdf_class_0 and pdf_class_1 should have the same shape"
    assert len(pdf_class_0.shape) == 2, "PDFs should be 2D arrays"

    # Check PDF values are non-negative
    assert np.all(pdf_class_0 >= 0), "pdf_class_0 should contain non-negative values"
    assert np.all(pdf_class_1 >= 0), "pdf_class_1 should contain non-negative values"

    # Check data points
    assert isinstance(d, np.ndarray), "d should be a NumPy array"
    assert d.shape == (1000, 2), f"d should have shape (1000, 2), got {d.shape}"

except NameError:
    # Variable doesn't exist during format check - this is expected
    # The assertions will run when the test executes with global environment
    pass

#n1

In [ ]:
# Test the count_words function
try:
    assert callable(count_words), "count_words should be a function"

    # Test with sample text
    result = count_words("Hello world hello")
    assert isinstance(result, dict), "Function should return a dictionary"
    assert 'hello' in result, "Result should contain 'hello' key"
    assert result['hello'] == 2, "Count of 'hello' should be 2"
    assert result.get('world', 0) == 1, "Count of 'world' should be 1"
except NameError:
    # Variable doesn't exist during format check - this is expected
    # The assertions will run when the test executes with global environment
    pass

#n2

In [ ]:
# Test the extract_entities function
try:
    assert callable(extract_entities), "extract_entities should be a function"

    # Test with sample text
    text = "Makerere University is in Kampala. Kampala is the capital of Uganda."
    keywords = ["Makerere", "Kampala"]
    result = extract_entities(text, keywords)
    assert isinstance(result, list), "Function should return a list"
    assert len(result) > 0, "Should return at least one sentence"
except NameError:
    # Variable doesn't exist during format check - this is expected
    # The assertions will run when the test executes with global environment
    pass

#n3

In [ ]:
# Test the calculate_similarity function
try:
    assert callable(calculate_similarity), "calculate_similarity should be a function"

    # Test with sample texts
    text1 = "data science africa"
    text2 = "data science kampala"
    result = calculate_similarity(text1, text2)
    assert isinstance(result, (int, float)), "Function should return a number"
    assert 0 <= result <= 1, "Similarity should be between 0 and 1"
except NameError:
    # Variable doesn't exist during format check - this is expected
    # The assertions will run when the test executes with global environment
    pass